@font-face {
    font-family: 'Inika';
    src: url('fonts/Inika-Regular.ttf');
}

* {
    font-family: 'Inika';
}
body{
  background:#322F2F;
}
.dropbtn {
  color: #7E807F;
  font-size: 1vw;
  border: none;
  cursor: pointer;
  background: #322F2F;
  padding: 0.4vw;
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background: #322F2F;
  border: 1px solid #635959;
  height: 7vw;
  overflow-y: auto;
}

.dropdown-content a {
  padding: 0.5vw;
  display: block;
  border: 1px solid #635959;
  font-size: 1vw;
  text-decoration: none;
  color: #7E807F;
}

.dropdown-content a:hover{
  color: #A1F9C9;
}

.dropdown-content a:hover {background-color: #404040}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover button img{
    rotate: 180deg;
}

.dropbtn:hover{
  background: #443D3D;
}

.dropdown img {
height: 1vw;
  width: 1vw;
  margin-left: 0.2vw;
}

.top-content {
  display: flex;
  justify-content: center;
  color: white;
  gap: 3vw;
  align-content: center;
  align-items: center;
  margin-top: 7vw;
}

.top-content img{
  height: 5vw;
  width: 5vw;
}

.main-content-top-text h1{
    font-size: 1.5vw;
    margin: 0;
}

.main-content-top-text p{
    font-size: 0.9vw;
    margin: 0;
}

.search-container {
  justify-content: center;
  color: white;
  margin-top: 2vw;
  display: flex;
  width: 32vw;
  background: #635959;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-container input {
  height: 3vw;
  width: 30vw;
  background: #635959;
  border: none;
  padding-left: 1vw;
  color: white;
}

.search-container a {
  background: #635959;
  border: none;
  height: 3vw;
  display: grid;
  align-items: center;
  padding-right: 0.5vw;
}

.search-container a img{
    height: 2vw;
}

.search-under-links {
  justify-content: center;
  text-decoration: none;
  align-items: center;
  font-size: 1vw;
  width: 26vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0vw;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin-left: 2vw;
}

.search-under-links a{
text-decoration: none;
  color: #7E807F;
}

header{
    display: flex;
  justify-content: right;
  margin-right: 1vw;
}

.search-under-links a:hover{
    color:#A1F9C9;
}

*:focus, *:focus{
    outline: none;
}

html body header div.dropdown div.dropdown-content{
  display: none;
  position: absolute;
  min-width: 14vw;
  z-index: 1;
  background: #322F2F;
  border: 1px solid #635959;
  left: -10vw;

}
html body div.main-content div.search-container a:hover svg path {
    fill: white;
}

footer {
  position: relative;
  left: 50%;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  transform: translate(-50%, 0%);
  margin-top: 1vw;
}

feedback_container{
  display: flex;
  align-items: center;
}

.feedback_container img{
height: 1vw;
  width: 1vw;
}

.feedback_container a{
text-decoration: none;
  margin-left: 0.5vw;
  color: #7E807F;
}

footer a{
text-decoration: none;
  color: #7E807F;
}

.feedback_container{
display: flex;
  align-items: center;
}

footer a:hover{
text-decoration: none;
  color: #A1F9C9;
}

.feedback_container:hover #mail {
  fill: #A1F9C9;
}

.search-container a img{
height: 3vw;
width: 3vw;
}

.display-results-from-search-main-container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.results-top-container-main {
  width: 42vw;
  background: #403A3A;
  height: auto;
  min-height: 17vw;
}

.results-top-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    gap: 1vw;
    color: #9C9F9E;
}

.text-container {
  width: 30vw;
  min-height: 17.5vw;
  background: #444040;
}

.text-container h1{
    padding-left: 1vw;
    font-size:2vw;
}

.text-container p{
    padding-left: 1vw;
    font-size: 0.9vw;
}

.results-top-container img {
  width: 17vw;
  min-height: 17.5vw;
}
.second-content-main-container {
  width: 42vw;
  background: #403A3A;
  height: 13vw;
  margin-top: 2vw;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  min-height: 10vw;
}

.top-results-container{
height: 4vw;
background: #403A3A;
margin-bottom: 1vw;
}

.top-results-container button{
    height: 79%;
    width: 10vw;
    border: none;
    background: #444040;
    color: #9C9F9E;
    font-size: 1vw;
}

.results_main_container {
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  height: 7vw;
  overflow-y: scroll;
}

.result_content-bar {
  height: 4vw;
  background: #444040;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  margin-left: 1vw;
  margin-right: 1vw;
}

.result_content-bar img{
height: 100%;
}

.result_content-bar a{
    margin-left: 1vw;
    text-decoration: none;
    color: #9C9F9E;
    font-size: 0.5vw;
}

.result_content-bar a:hover{
    color:#A1F9C9;
}

div.result_content-bar:nth-child(1) > a:nth-child(2):hover{
    color:#A1F9C9;
}

.text-container > p:nth-child(2) > a:nth-child(1){
    color: #9C9F9E;
}

.text-container > p:nth-child(2) > a:nth-child(1):hover{
    color: #A1F9C9;
}